.loading-wrapper {
    position: fixed;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    z-index: 98;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    border-radius: 0.5rem;
}
.loading-wrapper-mode {
    position: fixed;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    z-index: 98;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    border-radius: 0.5rem;
}

.loading-wrapper img {
    width: 50px;
    opacity: 0.8;
}

.not-found-search {
    position: fixed;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    z-index: 98;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    border-radius: 0.5rem;
}
.not-found-search img {
    width: 50px;
    opacity: 0.8;
}
